<table>
	<tr>
		<td><h3>Par치metros de Reporte:</td>
		<td></td>
	</tr>
	<tr>
		<td><b>Orden Puntuaci칩n</td>
		<td><%= select_tag 'Puntos', options_for_select([['Ascendente', 'ASC'], ['Descendente', 'DESC']]), :id=> 'filterPoints', :class => 'form-control', :onchange=> "filtroReportes()" %></td>
	</tr>
	<tr class = "mt-2">
		<td><b>Organizar Por</td>
		<td><%= select_tag 'Orden', options_for_select([['Puntuaci칩n Global', 'total_puntos'], ['Puntuaci칩n por Zona', 'zona_id ASC, total_puntos']]), :id=> 'filterOrderBy', :class => 'form-control', :onchange=> "filtroReportes()" %></td>
	</tr>
</table>