<div class = "row">
	<div class = "col-12"><h3>Par치metros de Reporte:</div>
</div>
<div class = "row col-12">
	<div class = "col-2"><b>Orden Puntuaci칩n</b></div>
	<div class = "col-4"><%= select_tag 'Puntos', options_for_select([['Ascendente', 'ASC'], ['Descendente', 'DESC']]), :id=> 'filterPoints', :class => 'form-control selectpicker', "data-live-search": "false", :onchange=> "filtroReportes()" %></div>
</div>
<div class = "row col-12 mt-2">
	<div class = "col-2"><b>Organizar Por</b></div>
	<div class = "col-4"><%= select_tag 'Orden', options_for_select([['Puntuaci칩n Global', 'total_points'], ['Puntuaci칩n por Zona', 'zone_id ASC, total_points']]), :id=> 'filterOrderBy', :class => 'form-control selectpicker', "data-live-search": "false", :onchange=> "filtroReportes()" %></div>
</div>