<% provide(:title, "Acceso Denegado") %>
<h1><%= t(:denegado) %></h1>
  <fieldset class="ui-widget ui-widget-content" style="width: 250px; position: center;">
  <div >
    <p><%= t(:comuniquese) %></p>
  </div>
  </fieldset>
</div>