<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home"><h3>Puntuación</h3></a></li>
</ul>
<div class="tab-content">
	<h3>Seleccione Club: </h3> <%= select_tag 'Club', options_from_collection_for_select(@clubes, 'id', 'nombre'), :id=> 'filterClub', :class => 'form-control', prompt: '', :onchange=> "renderCriterios()" %>
	<h3>Seleccione Evento: </h3> <%= select_tag 'Club', options_from_collection_for_select(@eventos, 'id', 'nombre', @evento), :id=> 'filterEvento', :class => 'form-control', prompt: '', :onchange=> "renderCriterios()" %>
	<div id = "evento_criterios"></div>
</div>
<script>
	function renderCriterios(){
		var evento = document.getElementById('filterEvento').value;
		var club = document.getElementById('filterClub').value;
		var dataString;
		dataString = 'option=renderCriterios&evento='+evento+'&club='+club;
		$.ajax(
		{  
			type: "GET",  
			url: "/camporeespuntuacionescabs/show",  
			data: dataString  
		}); 
	}
</script>