<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home"><h3>Campos</h3></a></li>
</ul>
<div class="tab-content">
	<button type="button" class="btn btn-primary" onclick="window.location = '<%= new_campo_path %>'">Nuevo</button>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th>ID</th>
			<th>Nombre</th>
		  </tr>
		</thead>
		<tbody>
			<% @campos.each do |c| %>
				<tr>
					<td><%= c.id %></td>
					<td><%= link_to c.nombre, edit_campo_path(c.id) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>