
<% if @zonas != nil %>
	<div class = "row col-12 mt-2 mb-2">
		<div class = "col-1"><b>Zona</b></div>
		<div class = "col-2"><%= select_tag 'Zona', options_from_collection_for_select(@zonas, 'id', 'nombre', @zona), :id=> 'filterZona', :class => 'form-control selectpicker', "data-live-search": "true", prompt: '', :onchange=> "filtroReportes()" %></div>
	</div>
<% end %>
<script>
	function filtroReportes(){
		var nombre_controller = '<%= controller_name %>';
		var zona = document.getElementById('filterZona').value;
		dataString = 'option=filtraEventos+&zona='+zona;
		$.ajax(
		{  
			type: "GET",  
			url: "/reporteporzonas/show",  
			data: dataString  
		}); 
	
	}
</script>