<table>
	<tr>
		<td><h3>Buscar Por:</td>
		<td></td>
	</tr>
	<% if @clubes != nil %>
		<tr>
			<td><b>Club</td>
			<td class = "col-md-10"><%= select_tag 'Club', option_groups_from_collection_for_select(@zonas, clubs_symbol(), :nombre, :id, :nombre), {id: "filterClub", include_blank: true, class: "form-control selectpicker col-md-5", "data-live-search": "true", onchange: "filtroReportes()" } %>
		</tr>
	<% end %>
</table>
<script>
	function filtroReportes(){
		var nombre_controller = '<%= controller_name %>';
		var club = document.getElementById('filterClub').value;
		dataString = 'option=filtraEventos+&club='+club;
		$.ajax(
		{  
			type: "GET",  
			url: "/detallesporclubes/show",  
			data: dataString  
		}); 
	
	}
</script>