<div>
	<div class="skillsForm2 col-md-12">
		<table>
			<tr>
				<td><%= label_tag 'Nombre' %></td>
				<td><%= text_field_tag 'nombre_detalle[]', "", :class=> "form-control" %></td>
				<td><%= label_tag 'Puntos' %></td>
				<td><%= text_field_tag 'puntos_detalle[]', "", :class=> "form-control" %></td>
			</tr>
		</table>	
	</div>
</div>