<div class = "row col-12 mt-2">
	<div class = "col-2"><b>Evento</b></div>
	<div class = "col-4"><%= select_tag 'Evento', option_groups_from_collection_for_select(@renglones, :camporeeseventos, :nombre, :id, :nombre), {id: "filterEvento", include_blank: true, class: "form-control selectpicker", "data-live-search": "true", onchange: "filtroReportes()" } %></div>
</div>
<div class = "row col-12 mt-2">
	<% if current_user.accessLevel == 'LC' %>
		<div class = "col-2"><b>Club</b></div>  
		<div class = "col-md-10"><%= select_tag 'Club', options_from_collection_for_select(@clubes, :id, :nombre), {id: "filterClub", include_blank: true, class: "form-control selectpicker col-md-5", "data-live-search": "true", onchange: "filtroReportes()" } %></div>
	<% else %>
		<div class = "col-2"><b>Zona</b></div> 
		<div class = "col-md-10"><%= select_tag 'Evento', option_groups_from_collection_for_select(@zonas, clubs_symbol(), :nombre, :id, :nombre), {id: "filterZona", include_blank: true, class: "form-control selectpicker col-md-5", "data-live-search": "true", onchange: "filtroReportes()" } %></div>
	<% end %>
</div>
<script>
	function filtroReportes(){
		var nombre_controller = '<%= controller_name %>';
		var evento = document.getElementById('filterEvento').value;
		var zona = document.getElementById('filterZona').value;
		dataString = 'option=filtraEventos+&evento='+evento+"&zona="+zona;
		$.ajax(
		{  
			type: "GET",  
			url: "/reporteparticipacionporeventos/show",  
			data: dataString  
		}); 
	
	}
</script>