<body>
	<br>
	<button id="buscar" style="font-size: 15px;" onclick="window.location = '<%= configuraciones_path %>';" class="ui-state-default ui-corner-all" title= "Volver">⌂</button> 
	<%= render 'form' %>
	<br> 
	 <br>
	 <div class = "ui-widget-header">
	 </div>
	<br>
	<br>
</body>

