		<script>
			$(function() 
			{
				$( "#tabs" ).tabs();
			});
			$(function() 
			{
				$( "buttona" ).button(
				{
					icons: 
					{
						primary: "ui-icon-plus"
					},
				});
			});
		</script>
		<div>
			<div id="tabs" class = "ui-widget ui-widget-content",  style = "border: 0px;width: 55%; font-size: 14px; margin-right: 3px">
				<ul>
					<li><a href="#tabs-a">Configuración</a></li>
				</ul>
				<div id="tabs-a">
					<table border = 0 id="tableindex">
						<thead>
							<tr class = "ui-widget-header", style "border: 1px solid #CCCCCC;">
								<th style = "width: 250px">Modalidad</th>
								<th style = "width: 100px">Año Actual</th>
							</tr> 
							<tr>
								<td><%= link_to @config.modalidad, edit_configuracione_path(@config) %></td>
								<td><%= @config.deboxional_year %></td>
							</tr>
						</thead>
					</table>				
				</div>
			</div>
		</div>
	</body>
</html>