<table>
    <tr>
	 <% bttit = t(:volver) %> 
	 <th><%= image_tag("backicon.png", :height =>'60', :width => '60', :title => bttit, :valign=>"middle", :class=>"pin_image", :onclick =>"volver();") %></th>
    </tr>
	<tr>
	  <th><%= link_to image_tag("menuicon.png", :height =>'60', :width => '60', :valign=>"middle", :class=>"pin_image"), root_path %></th>
    <tr><th>Menu</th></tr>
	</tr>
</table>
<script> function volver()
	{
		history.back()
	};  
</script>

