<button id="previo"  onclick="window.location = '<%= deboxionalesformularios_path %>';" class="ui-state-default ui-corner-all" title= "Anterior"> <span class="ui-icon ui-icon-arrowthick-1-w"></button> 
<button id="siguiente"  onclick="window.location = '<%= deboxionalesformularios_path %>';" class="ui-state-default ui-corner-all" title= "Siguiente"> <span class="ui-icon ui-icon-arrowthick-1-e"></button> 
