# encoding: utf-8
<div class= "tab-content">
	<div id="tabs-a">
		<br>
		<center>
			<h1>Deboxional 2019</h1>
			<br>
			<h4>Gracias por enviar tu reflexión para ser considerada con miras a aparecer en la entrega del Deboxional 2019. Ya has completado el paso #1.</h4>
			<h4>De seleccionar tu reflexión, nos pondremos en contacto contigo para darte los detalles sobre el paso #2.</h4>	
			<br>
			<br>
			<h2> ¡Mil Bendiciones, theboxioner!</b>
			<br>
			<br>
			<button class = "btn btn-success" id = "elBoton" type = "button" onclick= "volver()">Regresar</button>
		</center>
	</div>
</div>
<script>
	function volver()
	{
		window.location = '<%= aplicadeboxionales_path() %>';
	};
</script>
