<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>
<div style = "width: 600px; margin-left: -40px; margin-top: 0px; position: top">
	<div id="tabs" class = "ui-widget ui-widget-content",  style = "font-size: 14px; margin-right: 3px; border: 0px">
		<ul>
			<a href="#tabs-a"></a>
		</ul>
		<div id="tabs-a">
		<br>
			<table>
			<thead>
			<tr><div class = "ui-widget-header"></div></tr>
				<tr>
					<td><%= @guardo %></td>
				</tr>
			</thead>
			</table>
			<div class = "ui-widget-header"></div>
		</div>
    </div>
</div>