<div class="footer" style = "text-align: center; display: none">
	<small>Deboxional por <a href="http://www.theboxion.org">theboxion</a></small><br>
	<small><span class = "glyphicon glyphicon-copyright-mark"></span> <%= Time.current.year %></small>
</div>