<div class="footer" style = "text-align: center; display: none">
	<small>eClub por Oscar Valdez</small><br>
	<small><span class = "glyphicon glyphicon-copyright-mark"></span> <%= Time.current.year %></small>
</div>