<%= render "boostrap" %>
<% @zmsg = 0%>
<% if signed_in? %>
	<% @user = current_user%> 
    <% loggin_opc(@user,controller_name,action_name, params.to_s) %>
	<% $menugral = @user.menu_cod%>	
	<nav class="navbar navbar-expand-lg navbar-light bg-light navbar border border-bottom">
		<a class="navbar-brand" href="/home">eClub Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<% if current_user.usersdefault.access_level != 'LC' and current_user.usersdefault.access_level != 'ZN' and current_user.usersdefault.access_level != 'PT' %>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mantenimientos</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/zonas">Zonas</a>
							<a class="dropdown-item" href="/distritos">Distritos</a>
							<a class="dropdown-item" href="/iglesias">Iglesias</a>
							<a class="dropdown-item" href="/iglesiasclubes">Clubes</a>
						</div>
					</li>
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Camporees</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/camporees">Camporee</a>
							<a class="dropdown-item" href="/camporeesrenglones">Renglones</a>
							<a class="dropdown-item" href="/camporeeseventos">Eventos</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/camporeespuntuacionescabs">Puntuaciones</a>
						</div>
					</li>
				<% end %>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reportes</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<% if current_user.usersdefault.access_level != 'LC' and current_user.usersdefault.access_level != 'ZN' %>
							<a class="dropdown-item" href="/reportegeneral">Reporte General</a>
							<a class="dropdown-item" href="/listadoclubes">Clubes en Camporee</a>
							<a class="dropdown-item" href="/reporteparticipacionporeventos">Participaci贸n x Eventos</a>
							<a class="dropdown-item" href="/reporteporzonas">Por Zona</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="/reporteporclubes">Resumido x Club</a>
							<a class="dropdown-item" href="/detallesporclubes">Detallado x Club</a>
						<% else %>
							<% if current_user.usersdefault.access_level == 'ZN'%>
								<a class="dropdown-item" href="/reporteporzonas">Por Zona</a>
							<% end %>
							<a class="dropdown-item" href="/reporteporclubes">Resumido x Club</a>
							<a class="dropdown-item" href="/detallesporclubes">Detallado x Club</a>
						<% end %>
					</div>
				</li>
				<% if current_user.usersdefault.access_level != 'LC' and current_user.usersdefault.access_level != 'ZN' and current_user.usersdefault.access_level != 'PT' %>
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configuraci贸n</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/users">Usuarios</a>
						<a class="dropdown-item" href="/roles">Roles</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="/access_control">Control de Acceso</a>
						<a class="dropdown-item" href="/access_by_zone_list">Listado Accesos x Clubes</a>
					</div>
				</li>
				<% else %>
					<% if current_user.usersdefault.access_level == 'ZN' %>
						<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Configuraci贸n</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/access_by_zone_list">Listado Accesos x Clubes</a>
							</div>
						</li>
					<% end %>
				<% end %>
			</ul>
			<ul class = "navbar-nav ml-auto">
				<li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/signout">Cerrar Sesi贸n</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>

<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
</style>
<% end %>