<!DOCTYPE html>
<html>
<head>
 
 <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag :defaults %>
	
</head>
<body>



 <h1>Este es el standard</h1>




<%= yield %>


</body>

</html>

